{% schema %}
  {
    "name": "Product Image Grid",
    "settings": [

      {
         "type": "richtext",
         "id": "section_title",
         "label": "Section Title",
         "default": "<p>Featured Products</p>"
      },

       {
         "type": "product_list",
         "id": "products",
         "label": "Select Products",
         "limit": 6
      },
    ],
    "presets": [
      {
      "name": "Product Image Grid",
      "category": "Custom Sections;"
      }
    ]
  }
{% endschema %}



<div class="product-grid">
{% for product in section.settings.products limit: 6 %}
  <div class="product-grid-item">
    <img src="{{ product.images[0] | img_url: 'large' }}" alt ="{{ product.title }}">
    <button class="quick-view-btn" data-product= '{{ product | json }}'>+</button>
  </div>
  {% endfor %}

  
</div>